* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.title-reset {
    font-size: 1.5em;
}
#bar {
    height: 100vh;
    padding: 1em 2em;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
#bar-logo {
    cursor: pointer;
    width: 150px;
    padding: 1em;
}

#bar-nav {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.bar-nav-button {
    width: 100%;
    padding: 1em 1.5em;
    text-align: left;
    color: white;
    font-size: 1em;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}
.bar-nav-button > img {
    width: 1.5em;
    height: 1.5em;
}
.bar-nav-button:hover {
    transition: all 0.2s ease-in-out;
    background-color: #0f3c17;
}
.step {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #0f3c17;
}
header {
    width: 100%;
    background-color: rgb(253, 253, 253);
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#button-add-transaction {
    background-color: #2235B3;
    padding: 1em 2em;
    color: white;
    border-radius: 5px;
}
#dashboard {
    width: 100%;
    height: 100vh;
    
    display: flex;
    gap: 20px;
    padding: 2em;
    overflow: hidden;
}

.container-transactions, .container-grafics{
    width: 50%;
}

.container-grafics {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 2em;
}
.container-grafics .box{
    height: 50%;
}
.box-title {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 1.3em;
}
.container-transactions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-transactions #balance {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding: 0.5em 1em;
    font-size: 2.5em;
}
#container-cardboard-balance {
    display: flex;
    gap: 10px;
}
.cardboard-balance {
    width: 50%;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardboard1-balance {
    background-color: rgb(99, 244, 99);
}
.cardboard2-balance {
    background-color: rgb(230, 81, 81);
}
.box-transactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.5em;
    flex-grow: 1;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    background-color: #94000000;
    width: 10px;
}
::-webkit-scrollbar {
    background-color: #94000000;
}
::-webkit-scrollbar-thumb {
    background-color: #0000002b;
    border-radius: 20px;
}

.grafic1, .grafic2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardboard {
    cursor: pointer;
    width: 100%;
    background-color: rgb(244, 243, 243);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;

}

.transaction-deposit {
    color: green;
}
.transaction-withdraw {
    color: red;
}
.icon{
    width: 20px;
    height: 20px;
}

.menu-type {
    position: fixed;
    top: 8%;
    right: 14%;
    display: none;
    flex-direction: column;
    gap: 10px;
    min-height: 10vh;
    padding: 1em;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    
}
.menu-type button {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 0.5em 1em;
    color: black;
    border-radius: 5px;
}
.menu-type button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#input-type {
    display: none;
}

