.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}
.popup {
    position: relative;
    width: 30%;
    border-radius: 5px;
    padding: 2em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    animation: effect-popup 0.5s;
    background-color: white;
    animation: effect-popup 0.6s;
}
.popup-title {
    margin-bottom: 20px;
}
.popup .button-close {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 1.3em;
    font-weight: 600;
    padding: 6px 9px;
    border-radius: 50%;
}
.popup .button-close:hover {
    transition: all 0.3s ease-in-out;
    color: red;
}
.popup-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-container {
    width: 100%;
    border-radius: 5px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.571);
    overflow: hidden;
}
.input-container .input-transaction-form{
    outline: none;
    padding: 0.7em;
    flex-grow: 1;
}

.input-container .input-icon {
    background-color: rgb(182, 182, 182);
    padding: 0.7em;
    border-radius: 5px 0 0 5px;
}
.button-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}
.button-transaction-form {
    width: 25%;
    padding: 0.7em 1em;
    border-radius: 5px;
    color: white;
}

.button-container .button-save {
    background-color: green;
}
.button-container .button-cancel {
    background-color: red;
}

@keyframes effect-popup {
    from {
        transform: translateY(-100%);
        transition: all 0.3 ease-in-out;
    }
    to {
        transform: none;
    }
}
:is(#popup-welcome, #popup-balance) {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
:is(#popup-welcome, #popup-balance) h1{
    font-size: 1.7em;
}
#popup-welcome img {
    width: 180px;
    height: 150px;
}
:is(#popup-welcome, #popup-balance) button {
    width: 100%;
    border-radius: 5px;
    background-color: #0f3c17;
    padding: 1em;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);  
}
#popup-balance form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
#popup-balance input {
    outline: none;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    padding: 0.8em;
}

.active {
    display: flex;
}
.active-popup {
    display: block;
}




