<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/config.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alert.css')}}">
    <script src="{{url_for('static', filename='js/dashboard.js')}}" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <div id="bar">
        <img id="bar-logo" src="../static/css/assets/logo-finances-2.png" alt="">
        <nav id="bar-nav">
            <li class="bar-nav-top">
                <button class="bar-nav-button">
                    <img src="../static/css/assets/icon-coin.svg" alt="Icone de moedas">
                    <span>Transações</span>
                </button>
                <button class="bar-nav-button">
                    <img src="../static/css/assets/icon-account.svg" alt="Icone de um boneco">
                    <span>Perfil</span>
                </button>
            </li>
            <li id="bar-nav-bottom">
                <button class="bar-nav-button">
                    <img src="../static/css/assets/icon-setting.svg" alt="Icone de uma engrenagem">
                    <span>Ajustes</span>
                </button>
                <a href="{{url_for('logout')}}">
                    <button type="button" class="bar-nav-button">
                        <img src="../static/css/assets/icon-exit.svg" alt="Icone de uma porta de saída">
                        <span>Sair</span>
                    </button>
                </a>
            </li>
        </nav>
    </div>
    <div class="step">
        <header>
            <h3>{{greetings.message}}, {{current_user}}{{greetings.icon}}</h3>
            <button id="button-add-transaction">Adicionar transação</button>
        </header>
        <main id="dashboard">
            <div class="box box1">
                <button class="button-extend">➔</button>
                <div class="box-top">
                    <h2 class="box-title">Carteira</h2>
                    <div id="box-balance">R$1000,00</div>
                    <input type="text" id="input-filter-transaction" placeholder="Procurar transação">
                </div>
                <div class="box-bottom">
                    <h3>Atividades recentes</h3>
                </div>
            </div>
            <div class="box">
                <button class="button-extend">➔</button>
            </div>
            <div class="box">
                <button class="button-extend">➔</button>
            </div>
        </main>
    </div>
    <nav class="menu-type">
        <button class="menu-button" id="menu-button-deposit">
            <img class="icon" src="../static/css/assets/arrow-deposit.svg" alt="Icone de entrada de dinheiro">
            <span>Entrada</span>
        </button>
        <button class="menu-button" id="menu-button-withdraw">
            <img class="icon" src="../static/css/assets/arrow-withdraw.svg" alt="Icone de entrada de dinheiro">
            <span>Saída</span>
        </button>
        
    </nav>
    <div class="popup-wrapper">
        <div class="popup">
            <form action="" class="popup-form">
                <h2 class="popup-title">Transação</h2>
                <label class="input-container" for="input-description">
                    <img class="input-icon" id="input-description" src="../static/css/assets/icon-description.svg" alt="">
                    <input type="text" name="title" class="form-input" placeholder="Descrição">
                </label>
                <label class="input-container" for="input-value">
                    <img class="input-icon" src="../static/css/assets/dollar.svg" alt="">
                    <input type="number" id="input-value" name="value" class="form-input" placeholder="Valor" min="0">
                </label>
                <label class="input-container" for="input-date-transaction">
                    <img class="input-icon" id="input-date-transaction" src="../static/css/assets/calendar.svg" alt="">
                    <input type="date" name="date-transaction" class="form-input" placeholder="Data de transação">
                </label>
                <label for="categories" id="input-categories" class="input-container">
                    <img class="input-icon" src="../static/css/assets/icon-categories.svg" alt="Icone de categorias">
                    <select name="" id="my-select" class="form-input" >
                        <option value="" selected hidden>Categoria</option>
                    </select>
                </label>
                <div class="button-container">
                    <button type="menu" class="button-form button-cancel">Cancelar</button>
                    <button type="submit" class="button-form button-save">Salvar</button>
                </div>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {% if message["validation"] %}
        <div class="alert alert-check">
            <img class="icon-alert" src="../static/css/assets/circle-check.svg" alt="icone de successo">
            <p>{{message["answer"]}}</p>
        </div>
        {% else %}
        <div class="alert alert-error">
            <img class="icon-alert" src="../static/css/assets/circle-erro.svg" alt="icone de erro">
            <p>{{message["answer"]}}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
</body>
</html>





