<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/config.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alert.css')}}">
    <script src="{{url_for('static', filename='js/dashboard.js')}}" defer></script>
    <title>Dashboard</title>
</head>
<body>

    <!-- Left bar -->
    <div id="bar">
        <img id="bar-logo" src="../static/css/assets/logo-finances-2.png" alt="">
        <nav id="bar-nav">
            <li class="bar-nav-top">
                <button class="bar-nav-button">
                    <img src="../static/css/assets/icon-coin.svg" alt="Icone de moedas">
                    <span>Transações</span>
                </button>
                <button id="button-account" class="bar-nav-button">
                    <img src="../static/css/assets/icon-account.svg" alt="Icone de um boneco">
                    <span>Perfil</span>
                </button>
            </li>
            <li id="bar-nav-bottom">
                <button class="bar-nav-button">
                    <img src="../static/css/assets/icon-setting.svg" alt="Icone de uma engrenagem">
                    <span>Ajustes</span>
                </button>
                <a href="{{url_for('logout')}}">
                    <button type="button" class="bar-nav-button">
                        <img src="../static/css/assets/icon-exit.svg" alt="Icone de uma porta de saída">
                        <span>Sair</span>
                    </button>
                </a>
            </li>
        </nav>
    </div>

    <!-- Header do dashboard-->
    <div class="step">
        <header>
            <h3>{{greetings.message}}, {{current_user}}{{greetings.icon}}</h3>
            <button id="button-add-transaction">Adicionar transação</button>
        </header>
        
        <!-- Dashboard -->
        <main id="dashboard">
            <div class="box box1">
                <button class="button-extend">➔</button>
                <div class="box-top">
                    <h2 class="box-title">Carteira</h2>
                    <div id="box-balance">R$1000,00</div>
                    <input type="text" id="input-filter-transaction" placeholder="Procurar transação">
                </div>
                <div class="box-bottom">
                    <h3>Atividades recentes</h3>
                </div>
            </div>
            <div class="box">
                <button class="button-extend">➔</button>
            </div>
            <div class="box">
                <button class="button-extend">➔</button>
            </div>
        </main>
    </div>

    <!-- Dropbox para escolher se a transação vai ser entrada ou saída -->
    <nav class="menu-type">
        <button class="menu-button" id="menu-button-deposit">
            <img class="icon" src="../static/css/assets/arrow-deposit.svg" alt="Icone de entrada de dinheiro">
            <span>Entrada</span>
        </button>
        <button class="menu-button" id="menu-button-withdraw">
            <img class="icon" src="../static/css/assets/arrow-withdraw.svg" alt="Icone de entrada de dinheiro">
            <span>Saída</span>
        </button>
        
    </nav>
    
    <div class="popup-wrapper">

        <!-- Popup que contem o formulário transação-->
        <div class="popup">
            <form action="{{url_for('add_transaction')}}" method="post" class="popup-form">
                <h2 class="popup-title">Transação</h2>
                <input name="idType" type="text" id="input-type"  class="input-transaction-form" required>
                <div class="input-container">
                    <img class="input-icon" src="../static/css/assets/icon-description.svg" alt="">
                    <input name="title" type="text" id="input-description" class="input-transaction-form" placeholder="Descrição" required>
                </div>
                <div class="input-container">
                    <img src="../static/css/assets/dollar.svg" class="input-icon" alt="">
                    <input name="value" type="number" id="input-value" class="input-transaction-form" placeholder="Valor" min="0" required>
                </div>
                <div class="input-container">
                    <img src="../static/css/assets/calendar.svg" class="input-icon" alt="">
                    <input type="date" name="dateTransaction" id="input-date-transaction" class="input-transaction-form" placeholder="Data de transação" required>
                </div>
                <div id="input-categories" class="input-container">
                    <img class="input-icon" src="../static/css/assets/icon-categories.svg" alt="Icone de categorias">
                    <select id="my-select" name="idCategory" class="input-transaction-form">
                        <option value="" selected hidden>Categoria</option>
                    </select>
                </div>
                
                <div class="button-container">
                    <button type="reset" class="button-transaction-form button-cancel">Cancelar</button>
                    <button type="submit" id="button-submit-transaction" class="button-transaction-form button-save">Salvar</button>
                </div>
            </form>
        </div>

        <!-- Popup que contem formulário para trocar as informações pessoais-->
        
    </div>

    <!-- Alerta que retorna check/error -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {% if message["validation"] %}
        <div class="alert alert-check">
            <img class="icon-alert" src="../static/css/assets/circle-check.svg" alt="icone de successo">
            <p>{{message["answer"]}}</p>
        </div>
        {% else %}
        <div class="alert alert-error">
            <img class="icon-alert" src="../static/css/assets/circle-erro.svg" alt="icone de erro">
            <p>{{message["answer"]}}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
</body>
</html>





