<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/config.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <script src="{{url_for('static', filename='css/dashboard.css')}}" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <div id="bar">
        <h2 id="bar-logo">Finanças</h2>
        <nav id="bar-nav">
            <li class="bar-nav-top">
                <button class="bar-nav-button">Transaction</button>
                <button class="bar-nav-button">Account</button>
            </li>
            <li id="bar-nav-bottom">
                <button class="bar-nav-button">Settings</button>
                <button class="bar-nav-button">Exit</button>
            </li>
        </nav>
    </div>
    <div class="step">
        <header>
            <h2></h2>
            <h2>{{greetings.message}} Igor{{greetings.icon}}</h2>
        </header>
        <main id="dashboard">
            <div class="box box1">
                <button class="button-extend">➔</button>
                <div class="box-top">
                    <h2 class="box-title">Carteira</h2>
                    <div id="box-balance">R$1000,00</div>
                    <input type="text" id="input-filter-transaction" placeholder="Procurar transação">
                </div>
                <div class="box-bottom">
                    <h3>Atividades recentes</h3>
                </div>
            </div>
            <div class="box">
                <button class="button-extend">➔</button>
            </div>
            <div class="box">
                <button class="button-extend">➔</button>
            </div>
        </main>
    </div>
</body>
</html>





