<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/config.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/alert.css')}}">
    <script src="{{url_for('static', filename='js/index.js')}}" defer></script>
    <title>Homepage</title>
</head>
    <body>
        <!-- Criação do header na página inicial -->
        <header>
            <h1 id="header-title">Finance</h1>
            <nav>
                <button id="button-login">Entrar</button>
                <button class="standard-button button-register">Registrar</button>
            </nav>
        </header>

        <!-- Criação que estabelece o conteúdo principal da pagina-->
        <main>
           <img class="img-coins" src="../static/css/assets/coins.png" alt="Moedas caindo">
           <div class="content-wrapper">
                <h1 id="effect-text">Faça da sua vida financeira uma <span>obra-prima</span></h1>
                <p> Descubra a arte de organizar seus gastos com o nosso aplicativo</p>
                <button class="standard-button button-register button-register-2">Comece hoje</button>
           </div>
        </main>
        
        <div class="popup-wrapper">

            <!-- Criação do popup de login -->
            <div class="popup step1" id="popup-login">
                <h2 class="popup-title">Login</h2>
                <button class="button-close" data-attribute="popup-login">x</button>
                <form class="popup-form" action="{{url_for('login')}}" method="post">
                    <input name="email" type="email" id="input-email" class="form-input" placeholder="Email" required>
                    <span class="email-error"></span>
                    <input name="password" type="password" id="input-password"  class="form-input" placeholder="Senha" min="8" required>
                    <span class="password-error"></span>
                    <button type="submit" id="button-submit-login" class="standard-button form-button">Realizar login</button>
                </form>
                <p id="text-not-have-account">Não tem conta? 
                    <button type="button" id="button-turn-register">Registrar-se</button>
                </p>
            </div>
    
    
            <!-- Criação do popup de registro -->
            <div class="popup step2" id="popup-register">
                <h2 class="popup-title">Registrar</h2>
                <button class="button-close" data-attribute="popup-register">x</button>
                <form class="popup-form" action="{{url_for('register')}}" method="post">
                    <input name="first-name" type="text" id="input-first-name" class="form-input"  placeholder="Nome">
                    <input name="last-name" type="text" id="input-last-name" class="form-input" placeholder="Sobrenome">
                    <input name="date-birthday" type="date" id="input-date-birthday" class="form-input" placeholder="Data de nascimento" >
                    <input name="email" type="email" class="form-input" placeholder="Email">
                    <span class="email-error"></span>
                    <input name="password" type="password" class="form-input" placeholder="Senha" min="8">
                    <span class="password-error"></span>
                    <button type="submit" class="standard-button form-button">Realizar Registro</button>
                </form>
            </div>
        </div>

        <!-- Alerta que retorna check/error -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {% if message["validation"] %}
        <div class="alert alert-check">
            <img class="icon-alert" src="../static/css/assets/circle-check.svg" alt="Icone de sucesso">
            <p>{{message["answer"]}}</p>
        </div>
        {% else %}
        <div class="alert alert-error">
            <img class="icon-alert" src="../static/css/assets/circle-erro.svg" alt="Icone de erro">
            <p>{{message["answer"]}}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </body>
</html>